logs
*.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
npm-debug.log
dist
.idea
*.iml
.vscode
.DS_Store
cypress/videos
cypress/screenshots
client/.env
server/.env
